:root[data-theme="light"] {
    --text: #181c17;
    --background: #e8eee7;
    --primary: #375732;
    --secondary: #98ca91;
    --accent: #56b446;
}

:root[data-theme="dark"] {
    --text: #e4e8e3;
    --background: #121811;
    --primary: #adcda8;
    --secondary: #3d6e35;
    --accent: #5cb94b;
}